<!DOCTYPE html>
<layout:html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
             xmlns:layout="http://www.w3.org/1999/xhtml"
             layout:decorate="~{admin/layout_admin}">

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/authBoard/authBoard_create.css}">
        <style>
            .custom{
                margin-bottom: 100px;
            }
        </style>
    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/authBoard/authBoard_create.js}"></script>
    </th:block>

    <div layout:fragment="content">
        <body class="index-page">

        <main class="main">

            <!-- Contact Section -->
            <section id="contact" class="contact section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>상품 등록</h2>
                </div><!-- End Section Title -->

                <div class="container" data-aos="fade-up" data-aos-delay="100">

                    <div class="row gy-4">

                        <div class="col-lg-6">

                            <div class="row gy-4">
                                <div class="col-md-6">
                                    <div class="info-item" data-aos="fade" data-aos-delay="200" >
                                        <div class="post-img">
                                            <img id="preview" class="img-preview" src="#" alt="이미지 미리보기" style="display: none";/>
                                        </div>
                                    </div>
                                </div><!-- End Info Item -->

                            </div>

                        </div>

                        <div class="col-lg-6">

                            <form th:action="@{/admin/item}" method="post" class="php-email-form" enctype="multipart/form-data">
                                <div class="row gy-4">

                                    <div class="col-md-12">
                                        <input type="text" name="name" class="form-control" placeholder="상품명을 입력하세요" required>
                                    </div>

                                    <div class="col-md-12">
                                        <input type="text" name="price" class="form-control" placeholder="가격을 입력하세요" required>
                                    </div>
                                    <input type="file" id="file" name="file" class="custom" accept="image/*" required>
                                    <div class="col-md-12 text-center">
                                        <div class="error-message"></div>

                                        <button type="submit">등록하기</button>
                                        <button type="button" id="cancelButton">취소</button>
                                    </div>

                                </div>
                            </form>

                        </div><!-- End Contact Form -->

                    </div>

                </div>

            </section><!-- /Contact Section -->

        </main>

        </body>
    </div>
</layout:html>