<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>게시글</th>
        <th>신고인</th>
    </tr>

    <tr th:each="item : ${reports}">
        <td><a th:href="@{/admin/reportDetail/{id}(id=${item.authBoard.listId})}" th:text="${item.authBoard.boardTitle}">신고게시글 제목</a></td>
        <td th:text="${item.SiteUser.userId}">신고인</td>
        <td>
            <form th:action="@{/admin/report}" method="post">
                <input type="hidden" name="id" th:value="${item.authBoard.listId}">
                <input type="hidden" name="userId" th:value="${item.authBoard.SiteUser.userId}">
                <button type="submit">글삭제</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>