<!DOCTYPE html>
<layout:html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
             xmlns:layout="http://www.w3.org/1999/xhtml"
             layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>저탄소 녹색 Life</title>
    </head>
    <div layout:fragment="content">
        <body class="blog-page">
        <!--타이틀-->
        <main class="main">
            <div class="page-title" data-aos="fade">
                <div class="heading">
                    <div class="container">
                        <div class="row d-flex justify-content-center text-center">
                            <div class="col-lg-8">
                                <h1>결제실패</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

<h2>잔액이 부족합니다.</h2>
<div><button type="button" th:onclick="|location.href='@{/mall}'|">mall으로 이동</button></div>
</body>

    </div>
</layout:html>