<!DOCTYPE html>
<layout:html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
             xmlns:layout="http://www.w3.org/1999/xhtml"
             layout:decorate="~{layout}">

  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/account/login.css}">

  </th:block>


  <div layout:fragment="content">

    <body>
      <main class="main-content  mt-0">
        <section>
          <div class="page-header min-vh-100">
            <div class="container">
              <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                  <div class="card card-plain login_section">

                    <!-- 제목 -->
                    <div class="card-header pb-0 text-start login_start">
                      <h4 class="font-weight-bolder">로그인</h4>

                      <!-- 소셜 로그인 -->
                      <div class="row px-xl-5 px-sm-4 px-3 social_section">
                        <div class="col-3 ms-auto px-1 social_left">
                          <a class="btn btn-outline-light w-100" href="/oauth2/authorization/kakao">
                            <img th:src="@{/img/btn_kakao.svg}" class="kakao_logo social_logo">
                          </a>
                        </div>
                        <div class="col-3 px-1">
                          <a class="btn btn-outline-light w-100" href="/oauth2/authorization/naver">
                            <img th:src="@{/img/btn_naver.svg}" class="naver_logo social_logo">
                          </a>
                        </div>
                        <div class="col-3 me-auto px-1 social_right">
                          <a class="btn btn-outline-light w-100" href="/oauth2/authorization/google">
                            <img th:src="@{/img/btn_google.svg}" class="google_logo social_logo">
                          </a>
                        </div>
                        <div class="mt-2 position-relative text-center">
                          <p class="text-sm font-weight-bold mb-2 text-secondary text-border d-inline z-index-2 bg-white px-3">
                            or
                          </p>
                        </div>
                      </div>
                      <!-- 소셜 로그인 -->

                    </div>
                    <!-- 제목 -->

                    <!-- 에러 메세지 -->
                    <div th:if="${param.error}">
                      <div class="alert alert-danger login_error">
                        사용자ID 또는 비밀번호를 확인해 주세요.
                      </div>
                    </div>
                    <!-- 에러 메세지 -->

                    <!-- 아이디, 비밀번호 입력칸 -->
                    <div class="card-body">
                      <form role="form" th:action="@{/user/login}" method="post">
                        <div class="mb-3">
                          <input type="text" name="username" id="username" class="form-control form-control-lg" placeholder="아이디를 입력해주세요" aria-label="Email">
                        </div>
                        <div class="mb-3">
                          <input type="password"  name="password" id="password" class="form-control form-control-lg" placeholder="비밀번호를 입력해주세요" aria-label="Password">
                        </div>

                        <div class="text-center">
                          <button type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">로그인</button>
                        </div>
                      </form>
                    </div>
                    <!-- 아이디, 비밀번호 입력칸 -->

                    <div class="card-footer text-center pt-0 px-lg-2 px-1">
                      <p class="mb-4 text-sm mx-auto sign_up_text">
                        계정이 없으신가요?
                        <a th:href="@{/user/signup}" class="text-primary text-gradient font-weight-bold">회원 가입</a>
                      </p>
                      <p class="mb-4 text-sm mx-auto sign_up_text">
                        아이디를 잊으셨나요?
                        <a th:href="@{/user/findlogin}" class="text-primary text-gradient font-weight-bold">아이디 찾기</a>
                      </p>
                      <p class="mb-4 text-sm mx-auto sign_up_text">
                        비밀번호를 잊으셨나요?
                        <a th:href="@{/api/password/find}" class="text-primary text-gradient font-weight-bold">비밀번호 찾기</a>
                      </p>
                    </div>
                  </div>

                </div>

                <!-- 옆에 사진 꾸미기 section -->
                <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                  <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('https://img.freepik.com/free-photo/earth-day-campaign-hand-showing-tree-bubble-media-mix_53876-104084.jpg?t=st=1719801813~exp=1719805413~hmac=a3e3c7945e956089fda113b98da9ffe0007396a2686d7f294761cb252710dee1&w=740');
            background-size: cover;">
                    <span class="mask1 mask opacity-5"></span>
                    <h4 class="mt-5 text-white font-weight-bolder position-relative ">일상 속 작은 실천으로 큰 변화를 만드는 곳</h4>
                    <p class="text-white position-relative ">"더 나은 내일을 위한 첫 걸음, 저탄소 발전의 길에 발을 디딘다."</p>


                </div>
                <!-- 옆에 사진 꾸미기 section -->

              </div>
            </div>
          </div>
        </section>
      </main>
    </body>
  </div>
</layout:html>

