.loging{
    text-decoration: underline blue;
}
.text-green{
    text:green;
}
.text-gray{
    text: #676666;
}
.carding-body {
    font-family: Open Sans, sans-serif;
    padding: 1.5rem;
    width: 800px;
}
.boxing{
    margin-right: 430px !important;
}

.boxing2{
    width:430px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
#containing{
    --bs-qutter-x:1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)*1);
    padding-left: calc(var(--bs-gutter-x)*1);
    max-width: 1140px;
}