<!DOCTYPE html>
<layout:html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
             xmlns:layout="http://www.w3.org/1999/xhtml"
             layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>저탄소 녹색 Life</title>
    </head>
    <div layout:fragment="content">
        <body class="blog-page">
        <!--타이틀-->
        <main class="main">
            <div class="page-title" data-aos="fade">
                <div class="heading">
                    <div class="container">
                        <div class="row d-flex justify-content-center text-center">
                            <div class="col-lg-8">
    <h1>구매정보</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    <form th:action="@{{id}(id=${buyCoupon.couponId})}" method="post" onsubmit="return payCheck(event)">
        <div>
<label>쿠폰명</label>
        <input type="text" id="couponName" readonly="readonly" th:value="*{buyCoupon.couponName}" required>
        </div>
        <div>
        <label>필요포인트</label>
        <input type="text" id="couponPoint" readonly="readonly" th:value="|*{buyCoupon.couponPoint}p|" required>
        </div>
<!--        <div>-->
<!--            <label>유저포인트</label>-->
<!--            <input type="text" id="currentPoint" readonly="readonly" th:value="*{buyCoupon.currentPoint}" required>-->
<!--        </div>-->
<button type="submit">결제하기</button>

            <script th:inline="javascript">
                function goBack() {
                    window.history.back();
                }
                function payCheck(event) {
                    if(confirm("결제하시겠습니까?")){
                        return true;
                    } else {
                        return false;
                    }
                }
            </script>


    </form>
        </body>
    </div>
</layout:html>