<!DOCTYPE html>
<layout:html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
             xmlns:layout="http://www.w3.org/1999/xhtml"
             layout:decorate="~{layout}">

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/authBoard/authBoard_create.css}">
        <style>
            #couponName{
                width: 400px;
            }
            #couponPoint{
                width: 400px;
            }
            #labelName{
                width: 60px;
            }
            #labelPoint{
                width: 60px;
            }
            #custom{
                margin-bottom: 100px;
            }
        </style>
    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/authBoard/authBoard_create.js}"></script>
    </th:block>


    <div layout:fragment="content">
        <body class="index-page">

        <main class="main">

            <!-- Contact Section -->
            <section id="contact" class="contact section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>구매정보</h2>
                </div><!-- End Section Title -->

                <div class="container" data-aos="fade-up" data-aos-delay="100">

                    <div class="row gy-4">

                        <div class="col-lg-6">

                            <div class="row gy-4">
                                <div class="col-md-6">
                                    <div class="info-item" data-aos="fade" data-aos-delay="200" >
                                        <div class="post-img">
                                            <img th:if="${buyCoupon.image != null}" th:src="@{|/uploads/${buyCoupon.image.filePath}|}" alt="Board Image" id="preview" class="img-preview"/>
                                        </div>
                                    </div>
                                </div><!-- End Info Item -->

                            </div>

                        </div>

                        <div class="col-lg-6">

                            <form th:action="@{{id}(id=${buyCoupon.couponId})}" method="post" class="php-email-form" enctype="multipart/form-data" onsubmit="return payCheck(event)">
                                <div class="row gy-4">

                                    <div class="col-md-12">
                                        <label for="couponName" id="labelName" class="form-label">쿠폰명</label>
                                        <input type="text" id="couponName" readonly="readonly" class="form-control" th:field="*{buyCoupon.couponName}">
                                    </div>

                                    <div class="col-md-12">
                                        <label for="couponPoint" id="labelPoint" class="form-label">필요포인트</label>
                                        <input type="text" id="couponPoint" th:field="*{buyCoupon.couponPoint}" readonly="readonly" class="form-control">
                                    </div>
<!--                                    <input type="file" id="file" name="file" accept="image/*"  required>-->
                                    <div id="custom" class="col-md-12 text-center">
                                        <div class="error-message"></div>

                                        <button type="submit" class="btn btn-primary" th:text="결제하기"></button>
<!--                                        <button type="button" id="cancelButton">취소</button>-->
                                    </div>

                                </div>
                            </form>

                        </div><!-- End Contact Form -->

                    </div>

                </div>

            </section><!-- /Contact Section -->

        </main>
        <script th:inline="javascript">
            function goBack() {
                window.history.back();
            }
            function payCheck(event) {
                if(confirm("결제하시겠습니까?")){
                    return true;
                } else {
                    return false;
                }
            }
        </script>
        </body>
    </div>
</layout:html>