<!DOCTYPE html>
<layout:html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
             xmlns:layout="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
             layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>저탄소 녹색 Life</title>
        <style>
            #challInfo {
                display: flex;
                gap: 30px;
            }
            #receipt {
                margin-left: 200px;
                color: #8800f7;
                font-weight: 800;
            }
            #email {
                color: #039a21;
                font-weight: 800;
            }
            #multiuse{
                color: #fb4f06;
                font-weight: 800;
            }
            #tumblur {
                color: #de51fd;
                font-weight: 800;
            }
            #calendar {
                height: 500px;
                margin-left: 200px;
                margin-bottom: 100px;
            }
            #challenge {
                background-color: #ffffff;
            }
        </style>
    </head>
    <div layout:fragment="content">
        <body class="blog-page">
        <!--타이틀-->
        <main class="main">
            <div class="page-title" data-aos="fade">
                <div class="heading">
                    <div class="container">
                        <div class="row d-flex justify-content-center text-center">
                            <div class="col-lg-8">

                                <h1>이달의 챌린지 현황</h1>
                                <p>이번달의 챌린지 성공 내역을 달력으로 확인할 수 있습니다</p>
                                <div class="col-md-12 text-center">
                                    <a th:href="@{/challenge/status}" class = "btn btn-primary">챌린지 등록하기</a>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div id="challenge">
            <!--&lt;!&ndash;<h2 th:text="|챌린지 달성 개수 : ${userChallenge.challengeCnt}|"></h2>&ndash;&gt;-->
            <!--<h2 th:text="|챌린지 달성 개수 : 2|"></h2>-->
            <ul id="challInfo">
                <li id="receipt">전자영수증</li>
                <li id="email">메일함비우기</li>
                <li id="multiuse">다회용기사용</li>
                <li id="tumblur">텀블러사용</li>
            </ul>
            <div id='calendar' style='width: 1500px;'></div>
        </div>

        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

        <script>

            document.addEventListener('DOMContentLoaded', function() {

                var calendarEl = document.getElementById('calendar');
                var csrfToken = $('meta[name="_csrf"]').attr('content');
                var csrfHeader = $('meta[name="_csrf_header"]').attr('content');

                var request = $.ajax({
                    url: "/challenge/state",
                    type: "GET",
                    dataType: "json",
                    //     헤더에
                    //     <meta name="_csrf" th:content="${_csrf.token}"/>
                    // <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
                    // 써야되서 다른곳에 하기
                    // beforeSend: function(xhr) {
                    //     xhr.setRequestHeader(csrfHeader, csrfToken);
                    // },
                    // error: function(xhr, status, error) {
                    //     console.error('좋아요 처리 중 오류가 발생했습니다:', status, error);
                    //     alert('로그인 후 이용하시기 바랍니다.');
                    // }
                });
                request.done(function(data){
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        initialView: 'dayGridMonth',
                        //height: 1200,
                        //events: data
                        eventTimeFormat: { // like '14:30:00'
                            hour: '2-digit',
                            minute: '2-digit',
                            //second: '2-digit',
                            hour12: false,
                            //meridiem: 'short'
                        }
                    });


                    console.log(data)

                    $.each(data,function(key, value){
                        if(value.title == '전자영수증') {
                            calendar.addEvent({
                                //backgroundColor : "#8800f7",
                                title: value.title, // 이벤트 제목
                                // start : "2024-6-24", //달력 날짜에 매핑
                                start: value.start,
                                end: value.end,
                                color: "#8800f7",
                                //textColor: "#8400f7"
                                //rendering : "background"
                            })
                        }
                        else if(value.title == '메일함비우기') {
                            calendar.addEvent({
                                title: value.title,
                                start: value.start,
                                end: value.end,
                                color: "#039a21",
                            })
                        }
                        else if(value.title == '다회용기사용') {
                            calendar.addEvent({
                                title: value.title,
                                start: value.start,
                                end: value.end,
                                color: "#fb4f06",
                            })
                        }
                        else if(value.title == '텀블러사용') {
                            calendar.addEvent({
                                title: value.title,
                                start: value.start,
                                end: value.end,
                                color: "#de51fd",
                            })
                        }
                    });
                    calendar.render();

                });

            });

        </script>
        </body>
    </div>
</layout:html>