<!DOCTYPE html>
<!--<html lang="ko">-->
<layout:html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
             xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>저탄소 녹색 Life</title>
</head>
<div layout:fragment="content">
        <body>
            <main class="main">
                <div class="page-title" data-aos="fade">
                    <div class="heading">
                        <div class="container">
                            <div class="row d-flex justify-content-center text-center">
                                <div class="col-lg-8">
                                    <h1>'저탄소' 실시간 뉴스 Top 10</h1>
                                    <p class="mb-0">그린라이프 인증은 쓰레기를 재활용하여 멋지게 활용한 모습을 인증하고 자랑하는 게시판입니다<br>
                                        마음껏 자랑하여 좋아요를 받아보세요 문구 바꿔야됨 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news_container">
                        <ul>
                            <th:block th:each="news : ${newsList}">
                                <li class="news-item">
                                    <div class="news-details">
                                        <a th:href="${news.link}" th:text="${news.title}">뉴스 제목</a>
                                        <p th:text="${news.description}">뉴스 설명</p>
                                    </div>
                                    <div class="news-date">
                                        <p th:text="${news.pubDate}">날짜</p>
                                    </div>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </main>
        </body>
    </div>
</layout:html>
