<!DOCTYPE html>
<layout:html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
             xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>녹색 저탄소</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
        <link th:href="@{css/common/argon-dashboard.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/index/index.css}">
    </head>

    <th:block layout:fragment="script">
        <script th:src="@{/js/index/index.js}"></script>
    </th:block>

    <div layout:fragment="content">
        <body>
            <main class="main">
                <div class="container-fluid index_container">
                    <div class="row">

                        <!-- 프로필 카드 -->
                        <th:block th:if="${user != null}">
                            <div class="col-md-3">
                                <div class="card card-profile">
                                    <img th:src="@{/img/profile-bg.jpg}" alt="Image placeholder" class="card-img-top">
                                    <div class="row justify-content-center">
                                        <div class="col-4 col-lg-4 order-lg-2">
                                            <div class="mt-n4 mt-lg-n6 mb-4 mb-lg-0 profile_card_img">
                                                <img th:src="${user.profileImage.filePath == '/img/default-profile.png' ? '/img/default-profile.png' : '/uploads/' + user.profileImage.filePath}"
                                                     class="rounded-circle img-fluid border border-2 border-white profile_img"
                                                     alt="Profile Image">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="text-center mt-4">
                                            <h5 th:text="${user.userName}" class="user-profile-name">사용자 이름</h5>
                                            <div class="user-profile-points-coupons">
                                                <a th:href="@{/mypage/point-status/{userId}(userId=${user.userId})}">
                                                    <span class="user-profile-points" th:text="'보유 포인트: ' + ${user.currentPoint}"></span>
                                                </a>
                                                <a th:href="@{/user/coupons}"><span class="user-profile-coupons" th:text="'보유 쿠폰: ' + ${couponCount}"></span></a>
                                            </div>
                                            <div class="user-profile-info">
                                                <p th:if="${user.email != null and !user.email.isEmpty()}">
                                                    <i class="fas fa-envelope mr-2"></i>
                                                    <span th:text="${user.email}">사용자 이메일</span>
                                                </p>
                                                <p th:if="${user.phoneNum != null and !user.phoneNum.isEmpty()}">
                                                    <i class="fas fa-phone mr-2"></i>
                                                    <span th:text="${user.phoneNum}">전화번호</span>
                                                </p>
                                                <p th:if="${user.streetaddr != null and !user.streetaddr.isEmpty()}">
                                                    <i class="fas fa-map-marker-alt mr-2"></i>
                                                    <span th:text="${user.streetaddr}">주소</span>
                                                </p>
                                            </div>
                                            <div class="user-profile-actions mt-4">
                                                <a th:href="@{/mypage/profile/{userId}(userId=${user.userId})}" class="btn btn-primary btn-sm user-profile-btn">
                                                    프로필 수정
                                                </a>
                                                <a th:href="@{/mypage/my-posts/{userId}(userId=${user.userId})}" class="btn btn-secondary btn-sm user-profile-btn">
                                                    나의 게시글 보기
                                                </a>
                                                <a th:href="@{/order}" class="btn btn-secondary btn-sm user-profile-btn btn-third">
                                                    나의 구매목록 보기
                                                </a>
                                                <a th:href="@{/mypage/useamount-detail/{userId}(userId=${user.userId}, year=${year})}" class="btn btn-info btn-sm user-profile-btn usage_btn">
                                                    사용량 보기
                                                </a>
                                                <a th:href="@{/challenge}" class="btn btn-success btn-sm user-profile-btn">
                                                    챌린지 현황
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <!-- 프로필 카드 -->

                        <!-- 비로그인 카드 -->
                        <th:block th:if="${user == null}">
                            <div class="col-md-3">
                                <div class="card card-profile">
                                    <img th:src="@{/img/profile-bg.jpg}" alt="Image placeholder" class="card-img-top">
                                    <div class="row justify-content-center">
                                        <div class="col-4 col-lg-4 order-lg-2">
                                            <div class="mt-n4 mt-lg-n6 mb-4 mb-lg-0 profile_card_img">
                                                <img th:src="@{/img/default-profile.png}"
                                                     class="rounded-circle img-fluid border border-2 border-white profile_img"
                                                     alt="Default Profile Image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="text-center mt-4">
                                            <h5>게스트</h5>
                                            <div class="user-info">
                                                <p>로그인하여 서비스를 이용해보세요.</p>
                                            </div>
                                            <div class="user-actions mt-4">
                                                <a th:href="@{/user/login}" class="btn btn-primary btn-sm">
                                                    로그인
                                                </a>
                                                <a th:href="@{/user/signup}" class="btn btn-info btn-sm">
                                                    회원가입
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>


                        <!-- 대시보드 및 차트 -->
                        <div class="col-md-9">
                            <!-- 대시보드 -->
                            <div class="row dashboard-row">
                                <div class="col-md-3">
                                    <div class="card dashboard-card">
                                        <div class="card-body">
                                            <h5 class="card-title">현재 달 전기 사용량</h5>
                                            <p class="card-text" th:text="${currentElectricity != null ? currentElectricity : '데이터 없음'}">데이터 없음</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card dashboard-card">
                                        <div class="card-body">
                                            <h5 class="card-title">전월 대비 전기 증감률</h5>
                                            <p class="card-text" th:if="${electricityDiff != null and electricityDiff != 'N/A'}">
                                                전기량을
                                                <span th:with="diff=${#strings.replace(electricityDiff, '%', '')}"
                                                      th:style="${#strings.startsWith(diff, '-')} ? 'color: blue;' : 'color: red;'"
                                                      th:text="${#strings.startsWith(diff, '-') ? electricityDiff : '+' + electricityDiff}">0%</span>
                                                <span th:text="${electricityDiffMsg != null ? #strings.substring(electricityDiffMsg, #strings.indexOf(electricityDiffMsg, '를') + 1) : ''}"></span>
                                            </p>
                                            <p class="card-text" th:unless="${electricityDiff != null and electricityDiff != 'N/A'}">데이터 없음</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card dashboard-card">
                                        <div class="card-body">
                                            <h5 class="card-title">현재 달 가스 사용량</h5>
                                            <p class="card-text" th:text="${currentGas != null ? currentGas : '데이터 없음'}">데이터 없음</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card dashboard-card">
                                        <div class="card-body">
                                            <h5 class="card-title">전월 대비 가스 증감률</h5>
                                            <p class="card-text" th:if="${gasDiff != null and gasDiff != 'N/A'}">
                                                가스량을
                                                <span th:with="diff=${#strings.replace(gasDiff, '%', '')}"
                                                      th:style="${#strings.startsWith(diff, '-')} ? 'color: blue;' : 'color: red;'"
                                                      th:text="${#strings.startsWith(diff, '-') ? gasDiff : '+' + gasDiff}">0%</span>
                                                <span th:text="${gasDiffMsg != null ? #strings.substring(gasDiffMsg, #strings.indexOf(gasDiffMsg, '를') + 1) : ''}"></span>
                                            </p>
                                            <p class="card-text" th:unless="${gasDiff != null and gasDiff != 'N/A'}">데이터 없음</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- 차트 -->
                            <div class="chart-container">
                                <h6 class="chart-title">서울 및 경기도 시군구별 전기 및 가스 사용량</h6>
                                <div class="chart-controls">
                                    <label for="regionSelect" class="region_select">지역 선택</label>
                                    <select id="regionSelect" class="region_select_option">
                                        <option value="seoul" selected>서울</option>
                                        <option value="gyeonggi" >경기도</option>
                                    </select>

                                    <select id="seoulSubSelect" class="region_select_option">
                                        <option value="gangnam" selected>강남</option>
                                        <option value="gangbuk">강북</option>
                                    </select>

                                    <select id="gyeonggiSubSelect" style="display: none;">
                                        <option value="gyeongginorth">북부</option>
                                        <option value="gyeonggicentral">중부</option>
                                        <option value="gyeonggisouth">남부</option>
                                    </select>
                                </div>
                                <canvas id="usageChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </body>
    </div>
</layout:html>
