<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <h1>그린쿠폰 Mall</h1>
    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th>포인트를 사용해 쿠폰을 구매하는 쿠폰 mall입니다.</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="coupon : ${couponList}">
            <td th:text="${coupon.couponName}"></td>
            <td th:text="|필요포인트: ${coupon.couponPoint}p|"></td>
            <td><a th:href="@{mall/buy/{id}(id=${coupon.couponId})}">구매하기</a></td>
        </tr>
        </tbody>
    </table>
</div>
</html>