<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mall</title>
</head>
<body>
<div class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th>포인트를 사용해 쿠폰을 구매하는 쿠폰 mall입니다.</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="coupon : ${couponList}">
            <td th:text="${coupon.couponName}"></td>
            <td th:text="|필요포인트: ${coupon.couponPoint}p|"></td>
            <td>
                <form th:action="@{/mall/buy}" method="post" th:object="${coupon}">
                    <input type="hidden" th:field="*{couponIdHL}" th:value="${coupon.couponIdHL}" />
                    <input type="hidden" th:field="*{couponName}" th:value="${coupon.couponName}" />
                    <input type="hidden" th:field="*{couponPoint}" th:value="${coupon.couponPoint}" />
                    <input type="submit" value="구매하기">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
