<!DOCTYPE html>
<layout:html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
             xmlns:layout="http://www.w3.org/1999/xhtml"
             layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>저탄소 녹색 Life</title>
    </head>
    <div layout:fragment="content">
        <body class="blog-page">
        <!--타이틀-->
        <main class="main">
            <div class="page-title" data-aos="fade">
                <div class="heading">
                    <div class="container">
                        <div class="row d-flex justify-content-center text-center">
                            <div class="col-lg-8">
                                <h1>공지사항</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    <div>

    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th>번호</th>
            <th style="width: 50%">제목</th>
            <th>작성자</th>
            <th>작성일시</th>
        </tr>
        </thead>

        <tbody>

        <!--   <tr th:each="notice : ${noticeList}">  실제 id데이터로 보여주는건 이렇게 ..-->
        <!--            <td th:text="${notice.notice_id}"></td>-->

        <!-- noticeList를 반복하여 테이블 행 생성 -->
        <tr th:each="notice, loop : ${noticeList}">
            <!-- loop.count를 사용하여 현재 항목의 번호를 표시 -->
            <td th:text="${loop.count}"></td>
            <!-- 제목 열 -->
            <td>
                <!-- 제목을 링크로 표시하며, 링크는 질문 상세 페이지로 연결 -->
                <a th:href="@{|/notice/detail/${notice.notice_id}}"
                   th:text="${notice.notice_title}"></a>
            </td>
            <!-- 작성자 열 -->
            <td>
                <!-- 06.24_작성자 데이터 보여주려고 Notice 엔티티에 @ManyToOne 외래키 설정  -->
                <!-- 글쓴이가 null이 아닌 경우 글쓴이의 사용자 이름을 표시 -->
                <span th:if="${notice.siteUser !=null}"
                      th:text="${notice.siteUser.userId}"></span>
            </td>
            <!-- 작성일시 열 -->
            <td th:text="${#temporals.format(notice.createDate,'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>

    </table>
    <a th:href="@{/notice/create}" class = "btn btn-primary">게시글 등록하기</a>

</div>
        </body>
    </div>
</layout:html>