<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>포인트 현황</title>
</head>
<body>
<div layout:fragment="content">
    <h1>포인트 현황</h1>
    <table>
        <thead>
        <tr>
            <th>날짜</th>
            <th>출처</th>
            <th>포인트 변동</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="point : ${pointHistory}">
            <td th:text="${#temporals.format(point.insertDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${point.pointInfo}"></td>
            <td>
                <span th:if="${point.pointInfo == 'coupon'}" th:text="'-' + ${point.point}"></span>
                <span th:if="${point.pointInfo != 'coupon'}" th:text="'+' + ${point.point}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>