<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>게시글 신고</title>
  <script>
    function confirmReport(event) {
      if (confirm('정말 신고하시겠습니까?')) {
        alert('신고되었습니다');
        return true; // 폼 제출을 계속 진행
      } else {
        return false; // 폼 제출을 중지
      }
    }

  </script>
</head>
<body>
<h1>게시글 신고</h1>
<form th:action="@{/authBoard/report/{id}(id=${board.listId})}" method="post" onsubmit="return confirmReport(event)">
  <div>
    <label>신고 사유</label><br>
    <input type="checkbox" id="sexual_content" name="reason" value="성적인 콘텐츠">
    <label for="sexual_content">성적인 콘텐츠</label><br>

    <input type="checkbox" id="violent_content" name="reason" value="폭력적인 콘텐츠">
    <label for="violent_content">폭력적인 콘텐츠</label><br>

    <input type="checkbox" id="false_information" name="reason" value="잘못된 정보">
    <label for="false_information">잘못된 정보</label><br>

    <input type="checkbox" id="other" name="reason" value="기타">
    <label for="other">기타</label><br>
  </div>
  <div>
    <label for="report_content">신고 내용</label><br>
    <textarea id="report_content" name="reportContent"></textarea><br>
  </div>
  <input type="hidden" name="userId" th:value="${#authentication.name}" />
  <div>
    <button type="submit">신고하기</button>
  </div>
</form>
<a th:href="@{/authBoard/detail/{id}(id=${board.listId})}">취소</a>
</body>
</html>
