<!DOCTYPE html>
<layout:html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
             xmlns:layout="http://www.w3.org/1999/xhtml"
             layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>저탄소 녹색 Life</title>
        <link rel="stylesheet" th:href="@{/css/common/nucleo-icons.css}">
        <link rel="stylesheet" th:href="@{/css/common/nucleo-svg.css}">
        <link rel="stylesheet" th:href="@{/css/common/argon-dashboard.min.css}">
        <link rel="stylesheet" th:href="@{/css/common/login.css}">
        <style>
            .button-container {
                display: flex;
                justify-content: center;
                gap: 10px;
                margin-top: 20px;
            }
            #containing{
                --bs-qutter-x:1.5rem;
                --bs-gutter-y: 0;
                width: 100%;
                padding-right: calc(var(--bs-gutter-x)*1);
                padding-left: calc(var(--bs-gutter-x)*1);
                max-width: 1140px;
            }
        </style>

    </head>
    <div layout:fragment="content" class="container my-3">
<!--        여기밑-->
        <body class="blog-page">
        <div style="background-color: white; padding-bottom: 100px;">
        <!--타이틀-->
            <main class="main-content  mt-0">
                <div id="containing">




                <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20231010/pngtree-captivating-3d-world-environment-day-poster-amidst-a-serene-natural-setting-image_13599890.png'); background-position: top;">
                    <span class="mask opacity-6"></span>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 text-center mx-auto">
                                <h1 class="text-white mb-2 mt-5">welcome!</h1>
                                <p class="text-lead text-white">환경을 위한 그린 첼린지에 도전하세요!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
                        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto boxing">
                            <div class="card z-index-0 boxing2">
                                <div class="card-header text-center pt-4">
                                    <h5>회원가입</h5>
                                </div>

                                <form th:action="@{/user/signup}" th:object="${siteUserCreateForm}" method="post" enctype="multipart/form-data">
                                <div class="card-body">

                                        <div class="mb-3">

                                            <label for="userId" >사용자 ID : </label>
                                            <input type="text" id="userId" th:field="*{userId}" class="form-control">
                                            <div class="text-danger" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>

                                        <div class="mb-3">
                                            <label for="userName" >이름 : </label>
                                            <input type="text" id="userName" th:field="*{userName}" class="form-control">
                                            <div class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="phoneNum" >전화번호 : </label>
                                            <input type="text" id="phoneNum" th:field="*{phoneNum}" class="form-control">
                                            <div class="text-danger" th:if="${#fields.hasErrors('phoneNum')}" th:errors="*{phoneNum}"></div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="gender" >성별 : </label>
                                            <select id="gender" th:field="*{gender}" class="form-control">
                                                <option value="" th:if="*{gender} == ''">선택하세요</option>
                                                <option value="male">남성</option>
                                                <option value="female">여성</option>
                                            </select>
                                            <div class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="password1" >비밀번호 : </label>
                                            <input type="password" id="password1" th:field="*{password1}" class="form-control">
                                            <div class="text-danger" th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}"></div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="password2" >비밀번호 확인:</label>
                                            <input type="password" id="password2" th:field="*{password2}" class="form-control">
                                            <div class="text-danger" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" >이메일 : </label>
                                            <input type="email" id="email" th:field="*{email}" class="form-control">
                                            <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="address" >주소:</label>
                                            <input type="text" id="address" th:field="*{address}" class="form-control">
                                            <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="profileImage" >이미지 업로드 : </label>
                                            <input type="file" id="profileImage" name="profileImage" class="form-control-file">
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2" >가입하기</button>
                                        </div>
                                        <a th:href="@{/authBoard/list}" class="btn btn-secondary">취소</a>


                                        <p class="text-sm mt-3 mb-0">Already have an account? <a href="javascript:;" class="text-dark font-weight-bolder">Sign in</a></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
            <footer class="footer py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mb-4 mx-auto text-center">
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                                Company
                            </a>
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                                About Us
                            </a>
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                                Team
                            </a>
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                                Products
                            </a>
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                                Blog
                            </a>
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                                Pricing
                            </a>
                        </div>
                        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                                <span class="text-lg fab fa-dribbble"></span>
                            </a>
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                                <span class="text-lg fab fa-twitter"></span>
                            </a>
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                                <span class="text-lg fab fa-instagram"></span>
                            </a>
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                                <span class="text-lg fab fa-pinterest"></span>
                            </a>
                            <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                                <span class="text-lg fab fa-github"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 mx-auto text-center mt-1">
                            <p class="mb-0 text-secondary">
                                Copyright © <script>
                                document.write(new Date().getFullYear())
                            </script> Soft by Creative Tim.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
            <!--   Core JS Files   -->
            <script src="../assets/js/core/popper.min.js"></script>
            <script src="../assets/js/core/bootstrap.min.js"></script>
            <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
            <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
            <script>
                var win = navigator.platform.indexOf('Win') > -1;
                if (win && document.querySelector('#sidenav-scrollbar')) {
                    var options = {
                        damping: '0.5'
                    }
                    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
                }
            </script>
            <!-- Github buttons -->
            <script async defer src="https://buttons.github.io/buttons.js"></script>
            <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
            <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>
        </body>
    </div>
</layout:html>
