<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-3">
    <head>
        <meta charset="UTF-8">
        <title>Input Useamount</title>
        <style>
            .button-container {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }
        </style>

    </head>
    <body class="input-useamount">
    <div style="background-color: white; padding-bottom: 100px;">
    <!--타이틀-->
    <main class="main">
        <div class="page-title" data-aos="fade">
            <div class="heading">
                <div class="container">
                    <div class="row d-flex justify-content-center text-center">
                        <div class="col-lg-8">
                            <h1>전기/가스 사용량 입력</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="container my-3">
        <form id="useAmount" th:action="@{/mypage/input-useamount/{userId}(userId=${userId})}" th:object="${useAmountForm}" method="post">
            <div class="mb-3">
                <label for="useDate" class="form-label">사용 날짜 : </label>
                <input type="date" id="useDate" th:field="*{useDate}" class="form-control">
            </div>

            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <p th:text="${errorMessage}"></p>
            </div>

            <div class="mb-3">
                <label for="useElectricity" class="form-label">전기 사용량 : </label>
                <input type="number" id="useElectricity" th:field="*{useElectricity}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="useGas" class="form-label">가스 사용량 : </label>
                <input type="number" id="useGas" th:field="*{useGas}" class="form-control">
            </div>

            <div class="button-container">
                <button type="submit" class="btn btn-primary" onclick="submitConfirm()">저장</button>
            </div>

        </form>
    </div>

    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var today = new Date().toISOString().split('T')[0];
            document.getElementById('useDate').value = today;
        });



        function confirmSubmit(event) {
            event.preventDefault();
            if (confirm("정말 저장하시겠습니까?")) {
                document.getElementById("useAmount").submit();
            }
        }

        document.getElementById("useAmount").addEventListener("submit", confirmSubmit)
    </script>
    </body>
</div>
</html>
