<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>My Coupons</title>
    <style>
        .table {
            text-align: center;
        }
        .table th, .table td {
            vertical-align: middle;
        }
        .userCoupons {
            background-color: white;
            padding-bottom: 100px;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="userCoupons">
        <!--타이틀-->
        <main class="main">
            <div class="page-title" data-aos="fade">
                <div class="heading">
                    <div class="container">
                        <div class="row d-flex justify-content-center text-center">
                            <div class="col-lg-8">
                                <h1>My Coupons</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="container my-3">
            <table class="table">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>날짜</th>
                    <th>쿠폰명</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="userCoupon : ${userCoupons}">
                    <td th:text="${userCoupon.userCouponId}"></td>
                    <td th:text="${#temporals.format(userCoupon.insertDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${userCoupon.coupon.couponName}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>