<html xmlns:th="http://www.thymeleaf.org">


        <div class="mb-3">
            <label for="userid" class="userid">사용자 ID</label>
            <input type="text" name="username" id="userid" class="form-userid">
        </div>
        <div class="mb-3">
            <label for="password" class="password">비밀번호</label>
            <input type="password" name="password" id="password" class="form-password">
        </div>
        <div class="mb-3">
            <label for="repassword" class="password2">비밀번호재확인</label>
            <input type="password" name="password" id="repassword" class="form-password2">
        </div>
        <div class="mb-3">
            <label for="username" class="name">사용자 이름</label>
            <input type="text" name="username" id="username" class="form-name">
        </div>
        <div class="mb-3">
            <label for="useremail" class="email">이메일</label>
            <input type="text" name="username" id="useremail" class="form-email">
        </div>
        <div class="mb-3">
            <label for="userphone" class="phone_num">헨드폰 번호</label>
            <input type="text" name="username" id="userphone" class="form-phone_num">
        </div>
        <div class="mb-3">
            <label for="usergender" class="gender">성별</label>
            <input type="text" name="username" id="usergender" class="form-gender">
        </div>
        <div>
            <label for="fileInput">이미지 업로드:</label>
            <input type="file" id="fileInput" name="fileInput">
            <button type="submit">업로드</button>
        </div>
        <div class="mb-3">
            <label for="usercreate_date" class="create_date">계정생성시간</label>
            <input type="date" name="username" id="usercreate_date" class="form-create_date">
        </div>

        <button type="submit" class="btn btn-primary">로그인</button>
    </form>


</html>